/* img{
    opacity: 0.85; 
} */

/* html{
    font-size: 18px;
}

div{
    font-size: 1.5em;
}

p{
    font-size: 1rem;
} */

/* Pseudo Elements */
/* p::after{
    content: '*';
    color: red;
} */

p::first-line{
    background-color: gold;
}

p::first-letter{
    font-size: 1.5rem;
}

p:hover{
    color: cadetblue;
    cursor: pointer;
}