*{
    margin: 0;
    padding: 0;
}
/* h2{
    color: blue;
    text-align: center;
}

p{
   font-size: 30px;
} */

/* 
    1. Element Selector
    2. Class Selector
    3. ID Selector
*/

/* p{
    font-size: 35px;
} */

div .para{
    font-size: 30px;
}

#size{
    font-size: 15px;
}

h3.title{
    text-align: center;
}